//compress: false

@import "vars";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: @black;
  &.no-scroll {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 0 0;
  background: none;
  border: none
}
// Blocks
@import "blocks/intro.less";
@import "blocks/container.less";
@import "blocks/header.less";
@import "blocks/nav.less";
@import "blocks/social.less";
@import "blocks/works.less";
@import "blocks/aboutMe.less";
@import "blocks/reviews.less";
@import "blocks/read.less";
@import "blocks/footer.less";
@import "blocks/modal.less";

